@model IEnumerable<MVC_Homework1.Models.客戶資料>

@{
    ViewBag.Title = "客戶資料";
    var keyword = this.ViewContext.ViewData.ModelState["keyword"]?.Value?.AttemptedValue ?? "";
    var category = this.ViewContext.ViewData.ModelState["category"]?.Value?.AttemptedValue ?? "";
}

<h2>客戶資料</h2>
<a href="@Url.Action("ExcelExport")">匯出報表</a>
<hr/>

@using (Html.BeginForm("Index", "客戶資料", FormMethod.Get, new { @class = "form-group form-group-sm" }))
{
    @Html.Label("客戶名稱")
    @Html.TextBox("keyword", null, new { @class="form-control", placeholder = "請輸入客戶名稱" })
    @Html.Label("客戶分類")
    @Html.DropDownList("category", null, htmlAttributes: new { @class="form-control" })
    <br/>
    <input type="submit" class="btn btn-primary" title="搜尋" value="搜尋" />
}
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.統一編號)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶分類)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.傳真)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.統一編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶分類)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.傳真)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.地址)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<ul class="pagination">
    <li class="@(ViewBag.Current == 1 ? "disabled" : "")"><a href="@Url.Action("Index", new {page = ViewBag.Current <= 1 ? 1 : ViewBag.Current - 1, keyword = keyword, category = category})">&laquo;</a></li>
    @for (int i = 1; i <= ViewBag.Count; i++)
    {
        <li class="@(ViewBag.Current == i ? "active" : "")"><a href="@Url.Action("Index", new {page = i, keyword = keyword, category = category})">@i</a></li>
    }
    <li class="@(ViewBag.Current == ViewBag.Count ? "disabled" : "")"><a href="@Url.Action("Index", new {page = ViewBag.Current >= ViewBag.Count ? ViewBag.Count : ViewBag.Current + 1, keyword = keyword, category = category})">&raquo;</a></li>
</ul>